{{!-- <div id="about">
  <div class="ui container">
    <div class="ui grid middle aligned two columns">
      <div class="column">
        <h1 class="ui">Rules and Regulations</h1>
      </div>
      <div class="column right aligned">
        <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
      </div>
    </div>
    <br>

    <h2 class="ui header">Participation</h2>
    <p class="ui left aligned">
      1. Schools must enter with only one virtual solo theatrical performance which is relevant to the theme ‘Freedom: An Artistic Quest’. 
      <br>
      2. This production should be an adaptation or a re-interpretation of an existing monologue in a short story/play/novel that has been published. 
      <br>
      3. All pieces should be in English, Hindi or bi-lingual. However, using other languages in parts of the play, keeping the context in mind, is accepted. 
      <br>
      4. A performance piece must only have one participant. 
      <br>
      5. The participant must fill out the registration form by September 5, 2020 to confirm their participation in this event. 
      <br>
      6. A single participant can be a part of both Bread and Circuses and Monologue Maestros. 
      <br>
      7. The performance should be shot with a steady frame, without moving the camera during the recording. We encourage the performance to use the body as its principal tool and not take the story forward with effects of the camera and post-production. 
      <br>
      8. No special audio-visual effects can be added, but use of sound and lights is permitted while the performances are recorded.
    </p>

    <h2 class="ui header">Time Limitations and Submission </h2>
    <p class="ui">
      1. The last date for submission of all solo performance videos is October 5, 2020. 
      <br>
      2. The running time for all performance pieces must be between 2 minutes and 5 minutes. 
      <br>
      3. All teams must edit and render their final performances in any of the following video type formats .mp4/.mov/.wmv/.flv/.avi. The mode of sharing these files will be shared closer to the submission dates to the participating teams. 
      <br>
      4. The performances will be streamed on the Kaafila website on the festival's dates, i.e., October 15, 16 and 17 (1 st half). The results will be announced on October 17 (2<sup>nd</sup> half). 
      <br>
      5. The link to the stream will be shared closer to the festival dates. 
      <br>
    </p>

    <h2 class="ui header">On the Day</h2>
    <p class="ui">
      1. Actual schedules will be shared closer to the date. Performances will be followed by conversations with the jury. The day is expected to conclude with the awards ceremony at 3:30 pm (IST).
      <br>
      2. We would encourage the teams to watch performances by the other schools as far as possible.
    </p>

    <h2 class="ui header">Judgement Criteria</h2>
    <p class="ui">
      1. Interpretation of theme
      <br>
      2. Acting choices
      <br>
      3. Performance design
      <br>
      4. Depth of content
    </p>

    <h2 class="ui header">Digital Safety</h2>
    <p class="ui">
      1. As we are all aware of the risks involved in putting up work online, we request all teams to respect the private nature of streaming links and strictly share them with the people they know and trust.
      <br>
      2. The link will be private and must not be shared on any popular social media platforms like Facebook, Instagram, Twitter, etc.
      <br>
      3. When accessing the stream, please use your personal device to ensure complete cyber safety.
    </p>
  </div>
</div> --}}

{{#if entries}}
<div id="entries">
  <div class="ui container center aligned">
    <h1 class="ui header">Entries</h1>
    <div class="ui grid three columns stackable center aligned top aligned">
      {{#each entries}}
      {{#each this}}
      <div class="column">
        <div class="ui card fluid">
          <div class="content center aligned">
            <div class="responsive-ratio dynamic fit-content">
              <iframe width="560" height="315" src="{{this}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h3 class="ui header" style="margin-bottom: 5px;">{{@key}}</h3>
            <h4 class="ui header" style="margin-top: 0px; font-weight: 500">{{@../key}}</h4>
          </div>
        </div>
      </div>
      {{/each}}
      {{/each}}
    </div>
    <button class="ui primary button vote" id="mm-vote" style="margin-top: 10px;">Vote Entry</button>
  </div>
</div>

<div class="ui modal small" id="mm-vote-modal">
  <div class="header">Enter Your Info</div>
  <div class="content">
		<form id="mm-vote-form" class="ui small form confirminfoform">
			<div class="ui stacked">
				<div class="field">
          <label>Full Name</label>
          <div class="ui input">
            <input type="text" name="name" placeholder="Full Name">
          </div>
        </div>
				<div class="field">
          <label>Email</label>
          <div class="ui input">
            <input type="text" name="email" placeholder="Email">
          </div>
        </div>
				<div class="field">
          <label>Entry to Vote</label>
          {{#each entries}}
          {{#each this}}
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden" name="{{@key}} - {{@../key}}">
              <label>{{@key}} - {{@../key}}</label>
            </div>
          </div>
          {{/each}}
          {{/each}}
				</div>
				<div class="ui fluid container column right aligned">
					<button type="submit" class="ui primary button votesubmit" data-event="monologue-maestros">Submit</button>
				</div>
      </div>

			<div class="ui error message"></div>
		</form>
  </div>
</div>

<div id="confirmmodal" class="ui modal tiny">
	<div class="content">
		<div class="ui fluid container center aligned">
			<img class="ui centered image tiny" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/tick.png">
			<h2>Vote Submitted</h2>
			<h4 style="margin-top: 0!important;">Thanks for voting!</h4>
		</div>
	</div>
</div>
{{/if}}

<div id="judges">
  <div class="ui container center aligned">
    <h1 class="ui header">Judge</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/bnc-mm-kriti-pant.png?w=400&h=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Kriti Pant​</h2>
        <p class="ui">
          Kriti Pant​ is a theatre maker, facilitator and voice over artist. She has worked across different media and contexts for the past fourteen years. She received her Bachelor’s degree in English Literature from St. Stephen’s College in 2007. She is a founding member of the Tadpole Repertory, one of Delhi’s most prominent independent theatre collectives, formed in 2009. She has also jointly managed the company’s workshop and training initiative, The Looking Glass Project, and designed and facilitated workshops for people of all ages and levels of experience. She was recently awarded Best Actor in a Lead Role (Female) at the 2020 Mahindra Excellence in Theatre Awards for her role in ​For The Record,​ a collaboratively devised production for Black Box Okhla. She is currently working on a new production with Katkatha Puppet Arts Trust. She lives in New Delhi.
        </p>
      </div>
    </div>
  </div>
</div>