{{!-- <div id="about">
  <div class="ui container">
    <div class="ui grid middle aligned two columns">
      <div class="column">
        <h1 class="ui">Rules and Regulations</h1>
      </div>
      <div class="column right aligned">
        <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
      </div>
    </div>
    <br>

    <h2 class="ui header">Participation</h2>
    <p class="ui left aligned">
      1. The schools must enter with only one collaborative virtual theatrical performance which is relevant to the theme ‘Freedom: An Artistic Quest’.
      <br>
      2. This production could be an original devised piece or an adaptation/re-interpretation of an existing play/short story/novel that has been published.
      <br>
      3. All plays should be in English, Hindi or bi-lingual. However, using other languages in parts of the play, keeping the context in mind, is acceptable.
      <br>
      4. A production can have a maximum of 15 cast and crew members. This should include at least one student director and producer.
      <br>
      5. The school must fill out the registration form by September 5, 2020 to confirm its participation in this event. Upon registration, schools will be provided a link on which all their works will be uploaded. Video submissions will be accepted between September 5 and October 5. A complete and comprehensive list of cast and crew members will be required by October 5, 2020.
      <br>
      6. The performance should be shot with a steady frame, without moving the camera during the recording. We encourage the performance to use the body as its principal tool and not take the story forward based on the effects of the camera and post-production.
      <br>
      7. No special Audio-Visual effects (CGI) may be added, but use of regular sound and lights is permitted while the performances are being recorded.
    </p>

    <h2 class="ui header">Time Limitations and Submission</h2>
    <p class="ui">
      1. The last date for submission of all performance videos is 23:59 hrs (IST) October 5, 2020.
      <br>
      2. The running time for all performances must be between 15 minutes and 20 minutes.
      <br>
      3. All teams must edit and render their final performances in any of the following video formats: .mp4/.mov/.wmv/.flv/.avi. The mode of sharing these files will be shared upon registration.
      <br>
      4. The performances will be streamed on the Kaafila website on the festival dates, i.e., October 15, 16 and 17 (1 st half). The results will be announced on October 17 (2 nd half).
      <br>
      5. The link to the stream will be shared closer to the festival dates.
    </p>

    <h2 class="ui header">On the Day</h2>
    <p class="ui">
      1. Actual schedules will be shared closer to the date. Performances will be followed by conversations with the jury. The day is expected to conclude with the awards ceremony at 3:30 pm (IST).
      <br>
      2. We would encourage the teams to watch performances by the other schools as far as possible.
    </p>

    <h2 class="ui header">Judgement Criteria</h2>
    <p class="ui">
      1. Interpretation of theme
      <br>
      2. Acting choices
      <br>
      3. Performance design
      <br>
      4. Depth of content
    </p>

    <h2 class="ui header">Digital Safety</h2>
    <p class="ui">
      1. As we are all aware of the risks involved in putting up work online, we request all teams to respect the private nature of streaming links and strictly share them with the people they know and trust.
      <br>
      2. The link will be private and must not be shared on any popular social media platforms like Facebook, Instagram, Twitter, etc.
      <br>
      3. When accessing the stream, please use your personal device to ensure complete cyber safety.
    </p>
  </div>
</div> --}}

{{#if entries}}
<div id="entries">
  <div class="ui container center aligned">
    <h1 class="ui header">Entries</h1>
    <div class="ui grid three columns stackable center aligned top aligned">
      {{#each entries}}
      <div class="column">
        <div class="ui card fluid">
          <div class="content center aligned">
            {{!-- <div class="responsive-ratio dynamic fit-content">
              <iframe width="560" height="315" src="{{this}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> --}}
            <div class="ui embed" data-url="{{this}}" data-placeholder="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/video-image.png"></div>
            <h3 class="ui header">{{@key}}</h3>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{#if voteStatus}}
    <button class="ui primary button vote" data-id="oap-vote" style="margin-top: 10px;">Vote Entry</button>
    {{/if}}
  </div>
</div>
{{/if}}

<div id="judges">
  <div class="ui container center aligned">
    <h1 class="ui header">Judges</h1>
    <div class="ui grid four columns stackable center aligned top aligned">
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/bnc-oap-anannya-tripathyi.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Anannya Tripathyi</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#bnc-oap-anannya-tripathyi').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/bnc-oap-samta-shikhar.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Samta Shikhar</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#bnc-oap-samta-shikhar').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="bnc-oap-anannya-tripathyi">
  <div class="header">
    <h2 class="ui">Anannya Tripathyi</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/bnc-oap-anannya-tripathyi.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Anannya Tripathyi is a theatre practitioner and a voice-over artist based in Delhi. She has done her post-graduate in Psycho-Social Clinical Studies from Ambedkar University, Delhi and holds a diploma in Bharatnatyam from Prayag Sangeet Samiti, Allahabad.
        </p>
        <p class="ui left aligned">
          She has acted in the National Award-winning movie Dharma and now practices theatre in Delhi with some of the leading groups and directors of the city. Her most recent productions, as an actor, include 'The Brief History of the Pantomimes' by Tadpole Repertory, 'Uproute' by Improper Fractions, 'Love, Prufrock' (Official selection at Serendipity Arts Festival, 2018), 'Dastaan-e-Bhookh' (Winner of 5 Thespo Awards, 2015), 'Mahish' (Official Selection at Rangashankara Festival,2018) by Third Space Collective and ‘The Lighthouse’(2019) by ArtBlend Ensemble.
        </p>
        <p class="ui left aligned">
          She is the movement director in the play 'Muktidham' by Indian Ensemble.
        </p>
        <p class="ui left aligned">
          She is a core member and a part of the Artistic Ensemble of Third Space Collective- a Delhi based group of theatre practitioners creating work which is of relevance to the times that we live in. ​ Every year she mentors various colleges of DU, training the theatre societies. As a part of Third Space Collective, she has organised multiple events which include Of Stage- a collegiate level theatre festival in collaboration with Instituto Cervantes, 'Khel- a workshop for working professionals.
        </p>
        <p class="ui left aligned">
          She loves to work on devised pieces with learners, pushing them to think about form and content simultaneously. Most of her work with young adults focuses on understanding and decoding the world around them and creating counter-narratives. ​Currently, Anannya is teaching drama in Pathways School, Noida.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="bnc-oap-samta-shikhar">
  <div class="header">
    <h2 class="ui">Samta Shikhar</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/judges/bnc-oap-samta-shikhar.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Theatre actor and Pedagogue based in Bangalore and presently the Artistic Director and Head of the Theatre Department at the Head Start Educational Academy, Bangalore. Also engages in theatre pedagogy with toddlers between the ages of 18 months and 3 years. Besides being a pedagogue, she has also created theatre performances for toddlers.
        </p>
        <p class="ui left aligned">
          Member of Artistic International Association Small Size, the network for the diffusion of performing arts for early years.Member of ASSITEJ India.Recipient of the Prince Claus Foundation Travel Grant. Worked in collaboration with DAT(Dance Art Theatre)Boblingen Germany in 2016 and 2018 on working with children and toddlers. Participated at the Artist meet Early years at FESTIVAL VISIONI DI FUTURO, VISIONI DI TEATRO 2017 LA BARACCA – TESTONI RAGAZZI, BOLOGNA, 24 Febbraio – 5 Marzo 2017 Participate in the ITYARN Research Conference at the ASSITEJ World Congress, Cradle of Creativity, in Cape Town, South Africa in May 2017.
        </p>
      </div>
    </div>
  </div>
</div>

{{#if entries}}
{{#if voteStatus}}
<div class="ui modal small" data-id="oap-vote-modal">
  <div class="header">Enter Your Info</div>
  <div class="scrolling content">
		<form id="oap-vote-form" class="ui small form confirminfoform">
			<div class="ui stacked">
				<div class="field">
          <label>Full Name</label>
          <div class="ui input">
            <input type="text" name="name" placeholder="Full Name">
          </div>
        </div>
				<div class="field">
          <label>Email</label>
          <div class="ui input">
            <input type="text" name="email" placeholder="Email">
          </div>
        </div>
				<div class="field">
          <input type="hidden" id="leastCheckedCount">
          <label>Entry to Vote</label>
          {{#each entries}}
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden" name="{{@key}}">
              <label>{{@key}}</label>
            </div>
          </div>
          {{/each}}
				</div>
				<div class="ui fluid container column right aligned">
					<button type="submit" class="ui primary button votesubmit" data-event="one-act-play">Submit</button>
				</div>
      </div>

			<div class="ui error message"></div>
		</form>
  </div>
</div>

<div id="confirmmodal" class="ui modal tiny">
	<div class="content">
		<div class="ui fluid container center aligned">
			<img class="ui centered image tiny" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/tick.png">
			<h2>Vote Submitted</h2>
			<h4 style="margin-top: 0!important;">Thanks for voting!</h4>
		</div>
	</div>
</div>
{{/if}}

{{/if}}