{{!-- <div id="about">
  <div class="ui container">
    <div class="ui grid middle aligned two columns">
      <div class="column">
        <h1 class="ui">Rules and Regulations</h1>
      </div>
      <div class="column right aligned">
        <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
      </div>
    </div>
    <br>
    <p class="ui left aligned">
      1. Each school can have a maximum of 3 participants.
      <br>
      2. The performance can include individual interpretations of different Indian dance forms to express the theme of music. This may include fusion of Indian Folk dances, Indian Classical Dances & Indian Contemporary dance style.
      <br>
      3. Suitable music may be used, however the use of Bollywood music as a sound track is not permitted.
      <br>
      4. You can submit your dance performance in the form of VIDEO.
      <br>
      5. Each performance should be a minimum of 3 and a maximum of 5 minutes long.
      <br>
      6. The use of multimedia and props is permitted to be included in your performance. 
      <br>
      7. You can give your auditions in a comfortable attire that is easily available at your convenience.
      <br>
      8. The video has to be shot in the landscape mode such that the complete body is shown. Do not shoot the video against the source of light.
      <br>
      9. The last date to submit the video is the 5<sup>th</sup> of October.
      <br>
      10. Upload your video on YouTube (unlisted) by the name of the participant. For e.g. Junahi Mehta (11-C) Shiv Nadar School Noida Dance Competition Video. The link to the video has to be mailed to <a href="mailto:snsartsfestival@gmail.com">snsartsfestival@gmail.com</a>
    </p>

    <h2 class="ui header">Judgement Criteria</h2>
    <p class="ui">
      - Costumes (that's easily accessible by you)
      <br>
      - Theme or Concept
      <br>
      - Creativity & Improvisation
      <br>
      - Expressions
      <br>
      - Choreography
      <br>
      - Balance and Rhythm
    </p>
    <p class="ui">
      <strong>Please Note:</strong> Judges will be making their judgement on the 7<sup>th</sup> and 8<sup>th</sup> of October. The Peer voting will open between 15<sup>th</sup>-16<sup>th</sup> Oct. The judgement will be based on 70% Judges response & 30% Peer Voting. The results will be announced online, by 17<sup>th</sup> Oct 2020. 

    </p>
  </div>
</div> --}}

{{#if entries}}
<div id="entries">
  <div class="ui container center aligned">
    <h1 class="ui header">Entries</h1>
    <div class="ui grid three columns stackable center aligned top aligned">
      {{#each entries}}
      {{#each this}}
      <div class="column">
        <div class="ui card fluid">
          <div class="content center aligned">
            <div class="ui embed" data-url="{{this}}"></div>
            <h3 class="ui header" style="margin-bottom: 5px;">{{@key}}</h3>
            <h4 class="ui header" style="margin-top: 0px; font-weight: 500">{{@../key}}</h4>
          </div>
        </div>
      </div>
      {{/each}}
      {{/each}}
    </div>
    {{#if voteStatus}}
    <button class="ui primary button vote" id="ffs-vote" style="margin-top: 10px;">Vote Entry</button>
    {{/if}}
  </div>
</div>

{{#if voteStatus}}
<div class="ui modal small" id="ffs-vote-modal">
  <div class="header">Enter Your Info</div>
  <div class="scrolling content">
		<form id="ffs-vote-modal" class="ui small form confirminfoform">
			<div class="ui stacked">
				<div class="field">
          <label>Full Name</label>
          <div class="ui input">
            <input type="text" name="name" placeholder="Full Name">
          </div>
        </div>
				<div class="field">
          <label>Email</label>
          <div class="ui input">
            <input type="text" name="email" placeholder="Email">
          </div>
        </div>
				<div class="field">
          <label>Entry to Vote</label>
          {{#each entries}}
          {{#each this}}
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden" name="{{@key}} - {{@../key}}">
              <label>{{@key}} - {{@../key}}</label>
            </div>
          </div>
          {{/each}}
          {{/each}}
				</div>
				<div class="ui fluid container column right aligned">
					<button type="submit" class="ui primary button votesubmit" data-event="folk-fluence-solos">Submit</button>
				</div>
      </div>

			<div class="ui error message"></div>
		</form>
  </div>
</div>

<div id="confirmmodal" class="ui modal tiny">
	<div class="content">
		<div class="ui fluid container center aligned">
			<img class="ui centered image tiny" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/tick.png">
			<h2>Vote Submitted</h2>
			<h4 style="margin-top: 0!important;">Thanks for voting!</h4>
		</div>
	</div>
</div>
{{/if}}
{{/if}}


<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentors</h1>
    <div class="ui grid four columns stackable center aligned top aligned">
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/ff-ffs-manju-wazir.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Manju Wazir</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#ff-ffs-manju-wazir').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/ff-ffs-sangeeta-banerjee.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Sangeeta Banerjee</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#ff-ffs-sangeeta-banerjee').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="ff-ffs-manju-wazir">
  <div class="header">
    <h2 class="ui">Manju Wazir</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/ff-ffs-manju-wazir.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Currently working with Khaitan Public School Sec-39 Noida as dance teacher and is running her own institute of Kathak Dance.
        </p>
        <p class="ui left aligned">
          ACADEMICS<br>Degree Institution<br>B.Com. Jammu University
        </p>
        <p class="ui left aligned">
          DANCE<br>“Visharad in Kathak from Gandharva Mahavidyalaya Mandal<br>Post Graduate 5 years Diploma Course in Kathak Dance from Kathak Kendra New Delhi
        </p>
        <p class="ui left aligned">
          HONOURS & ACTIVITIES<br>1. Have been a lead dancer student representing the school D.B.N. Vidya Mandir at various Inter School Cultural Meets & performed in School functions from class II to class XII.<br>2. Have been a troupe member of J&K Cultural Academy from 1985 to 1989 & has performed in stage programmes all over the country.<br>3. Have performed in “APNA UTSAV” in Delhi & Bombay under the North Zone Cultural Centre.<br>4. Sponsored by J&K Cultural Academy in 1989 for Kathak Dance Course at Kathak Kendra N.Delhi.<br>5. Started learning Kathak under the noble guidance of Late Pt.Durga Lalji and Sh.Munna Lal Shuklaji at Kathak Kendra & completed three years Diploma course in 1992<br>6. Awarded Scholarship by Kathak Kendra in 1992 for pursuing the Advanced Post Diploma course of two years duration.
        </p>
        <p class="ui left aligned">
          DANCE ACTIVITIES<br>Have given solo as well as group performances under the noble guidance of Sh.Munna Lal Shukla Ji all over the country.<br>Have actively participated in ballets & compositions of the Great Maestro Pt. Birju Maharaj.<br>Invited by Kathak Kendra to perform in the prestigious Dance Festival “Sarracchandrika” in Oct’1994.<br>Proficiency in both FOLK as well as KATHAK dance.<br>Have worked as a dance teacher in Gandharva Mahavidyalaya Ghaziabad.<br>Appointed as an examiner for the Annual examinations in Kathak conducted by Gandharva Mahavidyalaya Mandal.<br>Has conducted a month long Kathak Dance workshop at the J&K Cultural Academy sponsored by the North Zone Cultural Centre.<br>Conducted a dance programme workshop of Kathak, Kuchipudi, Manipuri & folk dance in Jammu & Kashmir on the invitation of the J&K Cultural Academy in Sept’2005.<br>Runner up in the All India Dance Championship on “Boogie Woogie” a popular dance program on Sony TV.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="ff-ffs-sangeeta-banerjee">
  <div class="header">
    <h2 class="ui">Sangeeta Banerjee</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/ff-ffs-sangeeta-banerjee.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Sangeeta Banerjee, is the Creative Director of [One frame story], a Delhi based Photography Company, among other kinds of photography her specialization lies in Dance and performance photography.
        </p>
        <p class="ui left aligned">
          An Economics graduate from Delhi University and an Honors Diploma holder in Systems Management from NIIT, Delhi, she started her career, joining as a trainee and moving on to head the Multi-media division (programming and authoring) of Macro Multimedia Systems Pvt. Ltd., Delhi. She was responsible in producing numerous software packages, corporate films and presentations, and CD-ROM titles for national and inter-national clients. Though, her stint in the corporate world was a short and sweet journey of just two and a half years.
        </p>
        <p class="ui left aligned">
          She took a sabbatical from her corporate avatar to become a homemaker and mother for the next 5 years. But even during that period, when she was managing her home, her two small daughters, she kept on adding to her skills and knowledge base. She took up courses in script writing and followed her passion in Dance.
        </p>
        <p class="ui left aligned">
          She learned jazz, modern, contemporary and ballet for over a decade from the very well known dance academy The DanceWorx, Delhi. She has been trained under many illustrious teachers, like, Mr. Ashley Lobo of The Danceworx, Master Gabor Szikraky, Mr. Jaison Mathew, Mr. Pankaj Guglani, Ms. Sohini Dutta to name a few.
        </p>
        <p class="ui left aligned">
          After the sabbatical, she joined back as the Executive Producer, in “0dB Sound Works”, a music and sound production company based out of Delhi, and helped in producing successful sound tracks and sound-designs for both television and radio commercials for most of the leading advertising agencies, corporate films and audiovisuals, television serials, live events such as product launches, documentary film makers and other private producers, etc.
        </p>
        <p class="ui left aligned">
          This work environment was a god sent opportunity for her, as while being part of this organization her interest in the visual Arts and her love for photography germinated. She decided to formally join a Photography Course, and hone her passion and take it one step further than just a hobby.
        </p>
        <p class="ui left aligned">
          After completing a certification in Photography, she established [One frame story], in the year 2012.
        </p>
        <p class="ui left aligned">
          As a student of photography, she was fortunate enough to have mentors such as Amitabha Bhattacharya and Anay Mann at APEX School of Photography, Delhi. She continued to add to her skill set by attending workshops with internationally acclaimed photographers like Myriam Meloni and Roy Campbell-Moore.
        </p>
        <p class="ui left aligned">
          She believes, that a photograph starts long before one clicks the shutter &amp; once the shutter is clicked, a story is formed and is told in just that one frame! So in that sense, the philosophy of her company is to write stories in just one frame! Being a passionate jazz, modern, contemporary and ballet dancer herself, she understands and relates to dance and human movement. She brings together her knowledge in dance and skills in photography to create beautiful and surreal pieces
        </p>
        <p class="ui left aligned">
          of art. Her strong dance background and years of training gives her a wonderful understanding of this Art form and edge over her contemporaries.
        </p>
        <p class="ui left aligned">
          As a photographer she has created numerous portfolios for esteemed Artists as well as many new comers. She works extensively with Dancers, Dance Academies and Choreographers, Musicians other Artists and educational Institutions. Some of the established and well known names she has worked with and associated with are Maitreyee Pahari, Vashwati Mishra, Rakesh and Rajesh Sai Babu brothers, Padmashree Ranjana Gauhar, Vikram Mohan Bhat, Leah Raphael Curtis (US), Emily Mcloughlin (UK), Ashok Masti, Ananya Festival of Music and Dance, Sirpur Festival of Music and Dance, Destination North East Music and Dance Festival, The Gati Dance Forum, Central Contemporary Ballet, Japan Foundation Delhi, Friends of Art, Lalit Kala Academy, Sangeet Natak Academy and many more.
        </p>
        <p class="ui left aligned">
          Her photographs have been extensively published in newspapers and as publicity material both online and offline, nationally and internationally. Her Photographs got a special mention in Tamron Photo Contest 2015, as among the top 10 photographers in India.
        </p>
        <p class="ui left aligned">
          To her, as a photographer though, one of the biggest achievement has been, that her series of Photographs as part of her on going project, “On the deplorable conditions of the Yamuna due to immersion of idols after The Durga Puja celebrations”, was noticed by one of the major Puja committees of Chittaranjan Park, Delhi. Her series played an instrumental role in the committee’s decision to do “Bhumi Visharjan”, and not immerse the Mother Goddess’s Idol in the Yamuna.
        </p>
        <p class="ui left aligned">
          She is very passionate about Nature and Mother Earth and humanity! As a woman she believes that the strength lies within to do all that one dreams of, to be or achieve in life all that one’s heart and soul desires to, and it is never too late to start!
        </p>
      </div>
    </div>
  </div>
</div>