{{!-- <div id="about">
  <div class="ui container">
    <div class="ui grid middle aligned two columns">
      <div class="column">
        <h1 class="ui">About</h1>
      </div>
      <div class="column right aligned">
        <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
      </div>
    </div>
    <br>

    <p class="ui left aligned">
      Freedom is a desire. Freedom is an expression. Freedom is a speech. But the question is, what is freedom to you?
    </p>
    <p class="ui left aligned">
      The Spirit of Freedom requires the students to ponder upon what they recognise as freedom, and what value does it hold in their lives. They have to search for answers in the depths of their hearts and minds. This competition will focus on the different interpretations of freedom, each with its unique identity.
    </p>
    <p class="ui left aligned">
      Students are allowed to use any medium to express themselves through drawing, painting or reenactment of famous paintings that inspire them. It is your world, colour it as you like it!
    </p>
    <p class="ui left aligned">
      - There are two groups for participation: Grades 9-10 and Grades 11-12. 
      <br>
      - Maximum number of entries (artworks) allowed for submission per school: 10
    </p>
    <p class="ui left aligned">
      Contact person: Ms. Shaiwali Gupta (<a href="tel:+919910963558">9910963558</a>)
    </p>

    <h1 class="ui">Rules and Regulations</h1>
    <p class="ui left aligned">
      1. Entries must be in tune with the theme of the competition (It should be based around freedom).
      <br>2. Eligibility: there are two grade wise categories for the students to participate
      <br>&nbsp;&nbsp;&nbsp;&nbsp;- Group A – Grade 9-10
      <br>&nbsp;&nbsp;&nbsp;&nbsp;- Group B – Grade 11- 12
      <br>3. Medium: Drawing (using any medium; say charcoal, pencil colours, etc.), Painting or Re-enactment of famous paintings related to the theme mentioned. (Drawing and painting can be done on any surface)
      <br>4. Size: The students can work on any size of paper/ canvas.
      <br>5. Students have to create an original art piece and click a clear photograph of their artwork for us to evaluate it properly. In case of re-enactment, the picture should be clicked under a good light source. The use of photoshop is prohibited. If a work is found to be plagiarised it will be immediately disqualified.
      <br>6. Size of the photographs should not exceed more than 2 MB, and 300 dpi.
      <br>7. All submissions must include a cover sheet with the title of your artwork, size, medium.
      <br>8. This cover page must also include your full name, class section, school name and your passport size photograph.
      <br>9. Please add your artwork on the second page, along with your name and school’s name.
      <br>10. A brief description of your artwork (no more than 150 words).
    </p>
    <h2 class="ui">Criteria of Judgement</h2>
    <p class="ui left aligned">
      1. THE MIND
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- The concept and its uniqueness/originality,
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- Clarity of the theme from the art piece.
      <br> 2. THE BODY
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- Selection and application of materials used
      <br> 3. THE SOUL
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- Aesthetic quality
      <br> &nbsp;&nbsp;&nbsp;&nbsp;- Expression (vivid imagery; treats subject in a unique way)
      <br> 4. Overall impression
    </p>
    <h2 class="ui">Important Dates</h2>
    <p class="ui left aligned">
      1. Last Date of submission of the Artwork – 5<sup>th</sup> October 2020
      <br> 2. Result Declaration – 17<sup>th</sup> October 2020
    </p>
  </div>
</div> --}}

{{#if entries}}
<div id="entries">
  <div class="ui container center aligned">
    <h1 class="ui header">Entries</h1>
    {{#each entries}}
    <h1 class="ui header">{{@key}}</h1>
    <div class="ui grid three columns stackable center aligned middle aligned">
      {{#each this}}
      {{#each this}}
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/spirit-of-freedom/{{this.img}}?w=400&h=400&func=fit&bg_color=fff">
          </div>
          <div class="content center aligned">
            <h3 class="ui header" style="margin-bottom: 5px;">{{@key}}</h3>
            <h4 class="ui header" style="margin-top: 0px; font-weight: 500">{{@../key}}</h4>
            {{#if this.pdf}}
            <button class="ui primary small button conceptnote right floated" data-id="{{@key}}-{{@../key}}">Concept Note</button>
            <div class="ui modal large" data-id="{{@key}}-{{@../key}}-modal">
              <div class="content">
                <div class="ui embed" data-url="{{this.pdf}}"></div>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
      {{/each}}
    </div>
    {{#if ../voteStatus}}
    <button class="ui primary button vote" data-id="{{@key}}-vote" style="margin-top: 10px;">Vote Entry</button>
    {{/if}}
    {{/each}}
  </div>
</div>
{{/if}}

<div id="mentors">
  <div class="ui container center aligned">
    <h1 class="ui header">Mentors</h1>
    <div class="ui grid four columns stackable center aligned top aligned">
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-sof-gopa-trivedi.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Gopa Trivedi</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-sof-gopa-trivedi').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card fluid">
          <div class="image">
            <img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-sof-tahsin-akhtar.png?w=400&h=400">
          </div>
          <div class="content left aligned">
            <div class="header">Tahsin Akhtar</div>
            <div class="description">
              <button class="ui button small primary right floated" onClick="$('#i-sof-tahsin-akhtar').modal('show')">Read Bio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-sof-gopa-trivedi">
  <div class="header">
    <h2 class="ui">Gopa Trivedi</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-sof-gopa-trivedi.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Gopa Trivedi was born in 1987. She earned her B.V.A and M.V.A in Painting from MS University, Baroda, in 2010 and 2012 respectively. Her prominent group shows are ‘Ijtema’ Lahore, 2017; ‘Contraband’ New Delhi, 2017; ‘We have some Stardust’ NIV, New Delhi, 2015; ‘Reconstructing Home’ Serena Gallery, Islamabad, Pakistan, 2015. Her solo show ‘In Pursuit of Silence’ was organised by Art Konsoult, New Delhi in 2014. Gopa was shortlisted for Lepsien Foundation emerging award in 2015 and has been a recipient of several scholarships and awards including UMISSA Scholarship from S.A.F India in 2013, Nasreen Muhammadi Scholarship in 2011 and Jairam Patel award in 2010. She was also been part of Indian Arteliers Goa India and B.N.U Lahore, Pakistan residencies in 2013 and 2014. Gopa lives and works in Gurugram.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="i-sof-tahsin-akhtar">
  <div class="header">
    <h2 class="ui">Tahsin Akhtar</h2>
  </div>
  <div class="scrolling content">
    <div class="ui grid stackable fluid">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/i-sof-tahsin-akhtar.png?w=400&h=400">
      </div>
      <div class="column twelve wide">
        <p class="ui left aligned">
          Tahsin Akhtar (Multidisciplinary Artist) (b. 1988) Currently living and working in New Delhi. He completed his Post graduation in Painting from College of Art, Delhi in 2011. 
        </p>
        <p class="ui left aligned">
          His art practice deals with creation of visuals which are inspired by ordinary day to day lives observations and the social environs, where he resolves to add on an assorted value to it. And represents the phenomenon of multiple co-existing identities and perceptions. 
        </p>
        <p class="ui left aligned">
          He is recipient of Artreach India Teaching Fellowship 2019-20, State Gallery of Art Award, Hyderabad, 2018; All India Art Exhibition Award, 2013; (AIFACS) New Delhi, Euro Art Tour Award, Camelart Foundation, 2012. 
        </p>
        <p class="ui left aligned">
          His work has been showcased at various gallery and event, "Call to disorder" at serendipity art festival (Goa) Dec 2019, Artists Unite Delhi 2019, State Gallery of Art, Hyderabad 2018, "Art 35" Nine fish Art Gallery, Mumbai 2018, Participated in International art camp “ART CAMP” at Bhutan in 2015, Participated in United Art Fair, 2012. New Delhi, "SEMBLANCE" Visual Art Gallery, IHB, New Delhi, Art Heritage Gallery 2012, Triveni Kala Sangam, Delhi 2011, Kala Bhawan, Chandigarh Punjab (2010).
        </p>
        <p class="ui left aligned">
          He has also been a part of The Storytellers, 2018 organized by FICA and SAF, Two one za two, two two za... workshop by Blue Jackal, 2019
        </p>
      </div>
    </div>
  </div>
</div>

{{#if entries}}
{{#if voteStatus}}
{{#each entries}}
<div class="ui modal small" data-id="{{@key}}-vote-modal">
  <div class="header">Enter Your Info</div>
  <div class="scrolling content">
		<form id="{{@key}}-vote-form" class="ui small form confirminfoform">
			<div class="ui stacked">
				<div class="field">
          <label>Full Name</label>
          <div class="ui input">
            <input type="text" name="name" placeholder="Full Name">
          </div>
        </div>
				<div class="field">
          <label>Email</label>
          <div class="ui input">
            <input type="text" name="email" placeholder="Email">
          </div>
        </div>
				<div class="field">
          <label>Entry to Vote</label>
          {{#each this}}
          {{#each this}}
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden" name="{{@key}} - {{@../key}}">
              <label>{{@key}} - {{@../key}}</label>
            </div>
          </div>
          {{/each}}
          {{/each}}
				</div>
				<div class="ui fluid container column right aligned">
					<button type="submit" class="ui primary button votesubmit" data-event="strings-attached-solos-{{@key}}">Submit</button>
				</div>
      </div>

			<div class="ui error message"></div>
		</form>
  </div>
</div>
{{/each}}

<div id="confirmmodal" class="ui modal tiny">
	<div class="content">
		<div class="ui fluid container center aligned">
			<img class="ui centered image tiny" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/tick.png">
			<h2>Vote Submitted</h2>
			<h4 style="margin-top: 0!important;">Thanks for voting!</h4>
		</div>
	</div>
</div>
{{/if}}
{{/if}}