{{!-- <div id="about">
  <div class="ui container">
    <div class="ui grid middle aligned two columns">
      <div class="column">
        <h1 class="ui">Rules and Regulations</h1>
      </div>
      <div class="column right aligned">
        <button id="printRulesButton" class="ui button primary" onclick="window.print()">Print</button>
      </div>
    </div>
    <br>

    <h3 class="ui header">Participants class group</h3>
    <p class="ui left aligned">Grades 9-12</p>
    <h3 class="ui header">Categories</h3>
    <p class="ui left aligned">
      Western vocals
      <br>
      Hindustani classical vocals
      <br>
      Instrumental – Guitar
      <br>
      Instrumental – Piano/Keyboard
      <br>
      Instrumental – Percussion
      <br>
      Instrumental – Strings
      <br>
      Own composition
    </p>

    <p class="ui left aligned">
      1. Only solo entries for each category will be accepted as competition entries. One entry cannot be a part of multiple categories.
      <br>
      2. Maximum 2 entries per category will be allowed from each participating school.
      <br>
      3. Each participating school can take part in any or all categories. One student can participate in one category. Multiple entries from the same candidate will not be entertained.
      <br>
      4. The performance should be in the form of a single take video in .mp4 format in wide-screen (landscape) mode without any editing/add-on effects/post production.
    </p>

    <h2 class="ui header">Category Specific Rules</h2>
    <h4 class="ui header">Western Vocals</h4>
    <p class="ui">
      1. Candidates may choose and sing a non-original song in any western genre
      <br>
      2. Use of backing track is allowed
      <br>
      3. Accompaniment if done by self is allowed (on any instrument)
      <br>
      4. Duration of entry: 4 minutes max.
    </p>
    <h4 class="ui header">Hindustani Vocals</h4>
    <p class="ui">
      1. Use of electronic/acoustic/virtual tanpura and/or harmonium and/or electronic/virtual tabla is allowed
      <br>
      2. Only one Bandish- Chota (fast) khayal in any choice raag with alaap and taan (in any taal).
      <br>
      3. Duration of entry: 7 minutes max.
    </p>
    <h4 class="ui header">Instrumental - Guitar</h4>
    <p class="ui">
      1. Electric/acoustic guitar may be performed with a backing track.
      <br>
      2. Unaccompanied entries for electric/classical/acoustic guitar are allowed
      <br>
      3. Song selection can be from any genre except Bollywood.
      <br>
      4. Duration of entry: 5 minutes max.
    </p>
    <h4 class="ui header">Instrumental - Piano/Keyboard</h4>
    <p class="ui">
      1. Participants may choose to play on either Piano or Keyboard (minimum 5 octave) using Piano voice.
      <br>
      2. Participants using Keyboard are not allowed to use Auto accompaniment.
      <br>
      3. The video recording should be done in a way that the fingers of the participants are visible.
      <br>
      4. Duration of entry: 5 minutes max.
    </p>
    </p>
    <h4 class="ui header">Instrumental - Percussion</h4>
    <p class="ui">
      1. Participants may choose to play any percussion instrument.
      <br>
      2. Backing tracks may be used for western percussion instruments (Drums, Cajon, Djembe etc.)
      <br>
      3. Indian percussion instruments may use virtual Nagma/Lehera
      <br>
      4. Duration of entry: 5 minutes max.
    </p>
    <h4 class="ui header">Instrumental - Strings</h4>
    <p class="ui">
      1. Participants may choose to play on any member of the strings family (violin, viola, cello or double bass)
      <br>
      2. Participants may play unaccompanied or use backing track.
      <br>
      3. If participant chooses to play in Carnatic style the use of appropriate accompaniment track is allowed
      <br>
      4. The video recording should be done in a way that the fingers of the participants are visible.
      <br>
      5. Duration of entry – 5 minutes max.
    </p>
    <h4 class="ui header">Own Composition - Vocals</h4>
    <p class="ui">
      1. Own vocal composition can be in either Hindi or English.
      <br>
      2. Composition should be solely participants’ own work.
      <br>
      3. Lyrics have to be submitted a week prior to the competition.
      <br>
      4. Participants may choose to use a backing track or self-accompanied instrument.
      <br>
      5. Duration of entry: 4 minutes max.
    </p>
  </div>
</div> --}}

{{#if entries}}
<div id="entries">
  <div class="ui container center aligned">
    <h1 class="ui header">Entries</h1>
    {{#each entries}}
    <h1 class="ui header">{{@key}}</h1>
    <div class="ui grid three columns stackable center aligned top aligned">
      {{#each this}}
      {{#each this}}
      <div class="column">
        <div class="ui card fluid">
          <div class="content center aligned">
            {{!-- <div class="responsive-ratio dynamic fit-content">
              <iframe width="560" height="315" src="{{this}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> --}}
            <div class="ui embed" data-url="{{this}}" data-placeholder="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/video-image.png"></div>
            <h3 class="ui header" style="margin-bottom: 5px;">{{@key}}</h3>
            <h4 class="ui header" style="margin-top: 0px; font-weight: 500">{{@../key}}</h4>
          </div>
        </div>
      </div>
      {{/each}}
      {{/each}}
    </div>
    {{#if ../voteStatus}}
    <button class="ui primary button vote" data-id="{{@key}}-vote" style="margin-top: 10px;">Vote Entry</button>
    {{/if}}
    {{/each}}
  </div>
</div>
{{/if}}

<div id="judges">
  <div class="ui container center aligned">
    <h1 class="ui header">Judge</h1>
    <br>
    <div class="ui grid stackable fluid center aligned top aligned">
      <div class="column four wide">
        <img class="ui image fluid rounded" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/judges/sa-sas-anirudh-verma.png?w=400&h=400">
      </div>
      <div class="column eight wide left aligned">
        <h2 class="ui">Anirudh Varma​</h2>
        <p class="ui">
          Anirudh Varma is a 25 year old contemporary pianist, composer, producer & performance studies scholar, based out of New Delhi, India. He is a Grade 8 Pianist, from the Associated Board of Royal Schools of Music. He is the curator & creative director of Delhi based contemporary Indian classical ensemble: The Anirudh Varma Collective. The ensemble curated by Anirudh has been the subject of academic research and writing for students and researchers across the globe.
        </p>
        <p class="ui">
          Anirudh’s performance repertoire is unique in nature, since he is equally accomplished in both Indian Classical, Western Classical and Contemporary American Jazz music. His performance are a seamless collaboration of these three genres of music. His performances include works by Jazz composers such as, George Gershwin, Erroll Garner, Esparanza Spalding, and Stevie Wonder to name a few. He has been researching on the connection that American Jazz and Indian Classical Music form, and incorporates the same in his performances.
        </p>
        <p class="ui">
          He released his debut piano EP, Melancholic Rhapsody in February 2016, and went on to release his full length debut album, ‘Perspectives’, featuring over 65 musicians from across India. Both these records have released to critical acclaim. He has performed at, The Jaipur Literature Festival 2020, Curtain Raiser Event, Jashn-e- Rekhta 2020, pre event, Calcutta School of Music, Serendipity Arts Foundation and HCL Concerts, amongst many others.
        </p>
      </div>
    </div>
  </div>
</div>

{{#if entries}}
{{#if voteStatus}}
{{#each entries}}
<div class="ui modal small" data-id="{{@key}}-vote-modal">
  <div class="header">Enter Your Info</div>
  <div class="scrolling content">
		<form id="{{@key}}-vote-form" class="ui small form confirminfoform">
			<div class="ui stacked">
				<div class="field">
          <label>Full Name</label>
          <div class="ui input">
            <input type="text" name="name" placeholder="Full Name">
          </div>
        </div>
				<div class="field">
          <label>Email</label>
          <div class="ui input">
            <input type="text" name="email" placeholder="Email">
          </div>
        </div>
				<div class="field">
          <label>Entry to Vote</label>
          {{#each this}}
          {{#each this}}
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden" name="{{@key}} - {{@../key}}">
              <label>{{@key}} - {{@../key}}</label>
            </div>
          </div>
          {{/each}}
          {{/each}}
				</div>
				<div class="ui fluid container column right aligned">
					<button type="submit" class="ui primary button votesubmit" data-event="strings-attached-solos-{{@key}}">Submit</button>
				</div>
      </div>

			<div class="ui error message"></div>
		</form>
  </div>
</div>
{{/each}}

<div id="confirmmodal" class="ui modal tiny">
	<div class="content">
		<div class="ui fluid container center aligned">
			<img class="ui centered image tiny" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/tick.png">
			<h2>Vote Submitted</h2>
			<h4 style="margin-top: 0!important;">Thanks for voting!</h4>
		</div>
	</div>
</div>
{{/if}}
{{/if}}