<style>
	.v-header {
		height: 60vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: 0;
		text-align: center;
	}

	.photo-wrap {
		position: absolute;
		top: 52px;
		left: 0;
		width: 100%;
		height: 60vh;
		overflow: hidden;
	}

	.photo-wrap img {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (max-aspect-ratio: 6/10) {
		.photo-wrap img {
			height: 100%;
		}
	}

	@media screen and (min-aspect-ratio: 6/10) {
		.photo-wrap img {
			width: 100%;
		}
	}

	.header-overlay {
		height: 60vh;
		position: absolute;
		top: 52px;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content img {
		margin-bottom: 20px;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.header-content h3 {
		display: block;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.hero h1 {
		font-size: 10rem !important;
		color: white !important;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	.ui.borderless.menu {
		background: #085078 !important;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078) !important;
		background: linear-gradient(to left, #6eb4ac, #085078) !important;
	}

	.computer .ui.borderless.menu .active.item {
		border-top: 3px solid white !important;
		background-color: transparent !important;
	}

	.mobile .ui.borderless.menu .active.item {
		background-color: rgba(0, 0, 0, .2) !important;
	}

	p.ui,
	h5.ui {
		font-size: 16px !important;
	}

	#faq h5 {
		margin-bottom: 0px !important;
	}

</style>


{{>navbar}}
<header class="hero v-header h-container">
	<div class="photo-wrap">
		<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/kaafila-banner.png">
	</div>
	<div class="header-overlay"></div>
	{{!-- <div class="header-content text-md-center">
		<h1 class="ui header anaktoria">Kaafila</h1>
	</div> --}}
</header>

<div id="content" class="pastel k">

	<div id="about-video">
		<div class="ui container">
			<div class="ui embed" data-source="youtube" data-id="Hj0JTOU1p_Y"></div>
		</div>
	</div>
	
	<div id="help-video">
		<div class="ui container">
			<h1 class="ui header">Website Walkthrough</h1>
			<div class="ui embed" data-url="https://drive.google.com/file/d/1blms4GRiqpGLHn66rqrZmfj-8Cw-Rd7p/preview"></div>
		</div>
	</div>

	<div id="about">
		<div class="ui center aligned container">
			<h1 class="ui header">About</h1>
			<div class="ui grid stackable center aligned top aligned">
				<div class="row">
					<div class="eight wide column left aligned">
						<p class="ui">If words were mankind’s sole medium of expression, we would’ve seen much less struggle. As it
							happens, they convey only a fraction of the myriad thoughts that engulf the human mind. The essence of our
							humanity lies in the way we look beyond physical appearance and blend beauty with emotion. We derive joy
							from the iridescent dew drop on a single blade of grass, the weightless flutter of a butterfly’s wings,
							the
							white fortitude of a crashing wave. Such exquisite elegance transcends words; it must be felt to be
							understood. We therefore look upon the world through the arts. They convey thoughts and feelings we
							wouldn’t
							dare put into words, stripping away pretenses and inhibitions to bare underlying emotions and offer a
							glimpse into humanity, in all its beautiful starkness.</p>
					</div>
					<div class="six wide column">
						<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/DSC_1261.jpeg?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
							class="ui large bordered rounded image centered">
					</div>
				</div>
				<div class="row">
					<div class="six wide column computer tablet only">
						<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/IMG_7349.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
							class="ui large bordered rounded image centered">
					</div>
					<div class="eight wide column left aligned">
						<p class="ui">It is to celebrate this unfettered expression that Shiv Nadar conceptualised ‘Kaafila’, an arts festival. As the name suggests, it is a procession of the arts. It brings together the various art forms in a heady amalgamation of vivid colour and snazzy beats, to create something magical. It is a series of performances and interactional events which help explore different perspectives, skills and emotions. Apart from being celebratory and exploratory, the festival also includes a competitive aspect, with events that seek to challenge our interpretation of the arts, as well as the world, and push us towards a more comprehensive perspective, while broadening horizons and enhancing skills. Music, Dance, Theatre and Art are all doorways that lead to dazzling worlds of whimsical reality. The festival delves deep into each of these worlds, while also offering a glimpse into the new avenues of creativity that open up when these art forms are melded together. It aims to alter our perceptions and reacquaint us with our humanity, while exposing the raw emotion that is the root of all beauty.</p>
					</div>
					<div class="six wide column mobile only">
						<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/IMG_7349.JPG?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
							class="ui large bordered rounded image centered">
					</div>
				</div>
				<div class="row">
					<div class="eight wide column left aligned">
						<p class="ui">
							This year’s festival, in a shiny new online avatar, explores the possibilities of collaborative work
							beyond
							geographical limitations, presents artistic works that have crossed defined boundaries, and begins
							conversations with practitioners in different fields to reimagine possibilities in the arts; recognising
							that art has no bounds, and a mere pandemic cannot shut us down! We look forward to the new ‘at home’
							version of the Festival, and to turning our constraints into possibilities, as we are always wont to do,
							in
							the Arts!</p>
					</div>
					<div class="six wide column">
						<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/Screenshot_99.png?w=750&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
							class="ui large bordered rounded image centered">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="theme">
		<div class="ui center aligned container">
			<h1 class="ui header">Theme</h1>
			<div class="ui grid stackable center aligned top aligned">
				<div class="six wide column mobile only">
					<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/freedom-banner.jpg?w=750"
						class="ui large bordered rounded image centered">
				</div>
				<div class="eight wide column left aligned">
					<p class="ui">It feels like time has come to a standstill, only the ticking of the clock remains. The days
						have turned merely into a sequence of numbers. We ask ourselves, “How is today any different from
						yesterday?”. We are imprisoned within a set schedule, trapped in our flesh prisons, confined to the
						boundaries of our homes and bound in peripheral creations that seem imperfect and incomplete. And yet, we
						break free, rise above and move beyond the narrow confines of the head and heart. With a perfect resolve, we
						step forward and we paint the blank canvas with vivid strokes. With a renewed hope, we sway to the
						harmonious melodies and the swinging symphonies. We broaden our imagination, creation and expression, all
						through art. We assert that we are free, for human resilience knows no bounds.</p>
					<p class="ui">

						This is possible because we realise that to embark on a journey we need not set out. If we open our eyes,
						the physical horizon will cease to matter, opening the way to an endless paradise of possibilities. In the
						realm of physical confinement, we must seek for freedom in the tiniest of things, the things that make us,
						us. What must we free ourselves from? What are we free to do? What are we free to be? These are the
						questions which drive us, which guide us.</p>
					<p class="ui">

						And thus, Shiv Nadar School has declared ‘Freedom: An Artistic Quest’ as the theme for the upcoming
						festival. </p>
				</div>
				<div class="six wide column computer tablet only">
					<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/freedom-banner.jpg?w=750"
						class="ui large bordered rounded image centered">
				</div>
			</div>
		</div>
	</div>

	<div id="events">
		<div class="ui center aligned container">
			<h1 class="ui header">Events</h1>
			<div class="ui grid center aligned four columns computer tablet only">
				<div class="column">
					<a href="/events/bread-and-circuses">
						<div class="ui fluid card">
							<div class="image">
								<img
									src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/bread-and-circuses-text-banner.png?w=400">
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/events/folk-fluence">
						<div class="ui fluid card">
							<div class="image">
								<img
									src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/folk-fluence-text-banner.png?w=400">
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/events/iridescence">
						<div class="ui fluid card">
							<div class="image">
								<img
									src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/iridescence-text-banner.png?w=400">
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/events/strings-attached">
						<div class="ui fluid card">
							<div class="image">
								<img
									src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/strings-attached-text-banner.png?w=400">
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="ui grid center aligned two columns mobile only">
				<div class="column">
					<a href="/events/bread-and-circuses">
						<div class="ui fluid card">
							<div class="image">
								<img
									src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/bread-and-circuses-text-banner.png?w=">
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/events/folk-fluence">
						<div class="ui fluid card">
							<div class="image">
								<img
									src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/folk-fluence-text-banner.png?w=400">
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/events/iridescence">
						<div class="ui fluid card">
							<div class="image">
								<img
									src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/iridescence-text-banner.png?w=400">
							</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="/events/strings-attached">
						<div class="ui fluid card">
							<div class="image">
								<img
									src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/banners/strings-attached-text-banner.png?w=400">
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="sponsors">
		<div class="ui center aligned container">
			<h1 class="ui header">Sponsors</h1>
			<div class="ui grid center aligned middle aligned three columns">
				<div class="column">
					<img class="ui image fluid" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/sponsors/fuel-a-dream.png">
				</div>
				<div class="column">
					<img class="ui image fluid" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/sponsors/knma.png">
				</div>
				<div class="column">
					<img class="ui image fluid" src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/sponsors/vdis.png">
				</div>
			</div>
		</div>
	</div>

	{{!-- <div id="insta">
		<div class="ui container">
			<div class="ui grid center aligned">
				<div class="row">
					<h1 class="ui header">Our Instagram</h1>
				</div>
				<div class="row">
					<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
					<iframe src="//lightwidget.com/widgets/339201aa6bdc5c009ac18dd0489438bd.html" scrolling="no"
						allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
				</div>
				<div class="row">
					<a href="https://www.instagram.com/kaafila_snsn/">
						<button class="ui button large primary">See More</button>
					</a>
				</div>
			</div>
		</div>
	</div> --}}

	<div id="gallery">
		<div class="ui center aligned container">
			<h1 class="ui header">Gallery - Kaafila 2019</h1>
			{{#if galleryImages}}
			<div class="ui grid stackable center aligned four columns">
				{{#each galleryImages}}
				<div class="{{moreSection @index 'gallery' 8}} column">
					<a href="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/{{this.path}}?w=1920&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
						data-fancybox="gallery">
						<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/gallery/{{this.path}}?w=400&wat=1&wat_scale=20p&wat_gravity=southeast&wat_pad=15&wat_opacity=1"
							class="ui large bordered rounded image centered">
					</a>
				</div>
				{{/each}}
				{{{moreButton galleryImages 'gallery' 8}}}
			</div>
			{{else}}
			<div class="ui container center aligned middle aligned one columns">
				<div class="row left aligned">
					<h3 class="ui header">No images available yet!</h3>
				</div>
			</div>
			{{/if}}
		</div>
	</div>

	<div id="team-title" style="background-color: white!important;">
		<div class="ui center aligned container">
			<h1 class="ui header">Meet The Team</h1>
		</div>
	</div>
	<div id="directors-team">
		<div class="ui center aligned container">
			<h2 class="ui header">Directors</h2>
			<div class="ui grid center aligned top aligned stackable four columns">
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/nandini-gaur.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Nandini Gaur</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/shantav-garg.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Shantav Garg</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="outreach-team">
		<div class="ui center aligned container">
			<h2 class="ui header">Design and Outreach Team</h2>
			<div class="ui grid center aligned top aligned stackable four columns">
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/kalyaani-manoj.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Kalyaani Manoj</a>
							<div class="description">Team Lead</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/aditya-kulshrestha.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Aditya Kulshrestha</a>
							<div class="description">
								Lead Developer
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/amisha-karna.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Amisha Karna</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/abhimanyu-attrish.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Abhimanyu Apash Attrish</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/mishka-gupta.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Mishka Gupta</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/shreeya-mittal.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Shreeya Mittal</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/zahie-hosain.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Zahie Hosain</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="schools-team">
		<div class="ui center aligned container">
			<h2 class="ui header">Schools and Communication Team</h2>
			<div class="ui grid center aligned top aligned stackable four columns">
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/kabir-dutta.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Kabir Kaul Dutta</a>
							<div class="description">Team Lead</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/navya-jain.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Navya Jain</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/satwick-awasthi.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Satwick Awasthi</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/pritika-khurana.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Pritika Khurana</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/purvi-gangadharan.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Purvi Gangadharan</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="resources-team">
		<div class="ui center aligned container">
			<h2 class="ui header">Resources and Facilitation Team</h2>
			<div class="ui grid center aligned top aligned stackable four columns">
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/navya-aggarwal.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Navya Aggarwal</a>
							<div class="description">Team Lead</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/anosha-rishi.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Anosha Rishi</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/arshiya-mahajan.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Arshiya Mahajan</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/arav-behl.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Arav Behl</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="budgets-team">
		<div class="ui center aligned container">
			<h2 class="ui header">Budgets and Partnerships Team</h2>
			<div class="ui grid center aligned top aligned stackable four columns">
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/karman-puri.png?w=400&h=400">
							{{!-- <i class="icon warning circle"> Insufficient space in disk partition 1 [dsk/1 diskpartitionerror (ERRCODE: 299)]</i> --}}
						</div>
						<div class="content">
							<a class="header">Karman Singh Puri</a>
							<div class="description">Team Lead</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/niyashi-jain.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Niyashi Jain</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/pratiek-navani.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Pratiek Navani</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/kushal-garg.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">Kushal Garg</a>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<img src="https://atkhrfnsco.cloudimg.io/v7/snsartsfestival.in/img/team/t-venkat.png?w=400&h=400">
						</div>
						<div class="content">
							<a class="header">T. Venkat</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="faq">
		<div class="ui middle aligned center aligned grid stackable container one columns">
			<div class="column">
				<h1 class="ui header">Frequently Asked Questions</h1>
			</div>
			<div class="ten wide column left aligned">
				<h5 class="ui header">Q. What is Kaafila?</h5>
				<p class="ui">Kaafila is Shiv Nadar School Noida’s flagship integrated art fest covering 4 baskets of arts:
					theatre, music, dance, visual arts</p>

				<h5 class="ui header">Q. Is there any eligibility criteria to participate in Kaafila?</h5>
				<p class="ui">Most of our events are open to all individuals but students from Grades 9-12 of participating
					schools will be offered special discounts on the various workshops we offer.</p>

				<h5 class="ui header">Q. Does Kaafila only offer competitive events?</h5>
				<p class="ui">Kaafila aims to provide students an environment that challenges them into discovering their
					talent
					and skills, and to inspire the joy of learning by fostering a culture of creativity. Thus we have decided to
					keep a vast range of non competitive events along with the competitive events to provide a platform to
					celebrate the arts.</p>

				<h5 class="ui header">Q. Why is Kaafila online this year?</h5>
				<p class="ui">We strongly believe that art has no bounds, and a mere pandemic cannot shut us down! This shiny
					new online avatar, explores the possibilities of collaborative work beyond geographical limitations and
					presents artistic works that have crossed defined boundaries. We look forward to interacting with people
					from
					around the world.</p>

				<h5 class="ui header">Q. When is Kaafila again?</h5>
				<p class="ui">15<sup>th</sup>, 16<sup>th</sup> and 17<sup>th</sup> of October</p>


			</div>

		</div>
	</div>
</div>

{{>footer}}