<style>
	body {
		margin: 0;
	}

	.v-header {
		height: 60vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: -52px;
		text-align: center;
	}

	.photo-wrap {
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 60vh;
		overflow: hidden;
		{{headerGradient}}
	}

	.photo-wrap img {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		filter: blur(12px)
	}

	@media screen and (max-aspect-ratio: 6/10) {
		.photo-wrap img {
			height: 100%;
		}
	}

	@media screen and (min-aspect-ratio: 6/10) {
		.photo-wrap img {
			width: 100%;
		}
	}

	.header-overlay {
		height: 60vh;
		position: absolute;
		top: 0px;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0.2;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.hero h1,
	.hero h4 {
		color: white !important;
	}

	#contact {
		padding-top: 3em;
		padding-bottom: 3em;
	}

	#content>div {
		padding-top: 5em;
		padding-bottom: 5em;
	}

	#contact a,
	#dev a {
		color: #46a3ff;
	}

	p.ui,
	h5.ui {
		font-size: 16px !important;
	}

	#faq h5 {
		margin-bottom: 0px !important;
	}

	/* @media (max-width: 576px) {
		.v-header, .photo-wrap, .header-overlay {
			height: 70vh;
		}
		.photo-wrap img {
			height: 100%!important;
		}
	} */

	#event-bnc {
		background: rgb(201, 120, 76);
		background: linear-gradient(45deg, #c9784c 37%, #d9d9d9 100%);
	}

	#event-ff {
		background: rgb(145, 63, 63);
		background: linear-gradient(45deg, #913f3f 0%, #9cb935 100%);
	}

	#event-i {
		background: rgb(183, 145, 182);
		background: linear-gradient(45deg, #b791b6 41%, #5bd0ba 100%);
	}

	#event-sa {
		background: #FDC830;
		background: linear-gradient(45deg, #f37335, #fdc830);
	}
</style>

{{>navbar}}

<header class="hero v-header h-container">
	<div id="event-{{cssID}}" class="photo-wrap">
		{{!-- <img src="/img/banners/{{bannerName}}-banner.png" alt="kaafila_logo"> --}}
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<h1 class="ui header {{headerFont}}">
			{{#if active_bnc}}
			Bread <span class="princess-sofia">&</span> Circuses
			{{else}}
			{{header}}
			{{/if}}
		</h1>
	</div>
</header>

<div id="content" class="{{cssID}} pastel">
	{{#if active_bnc}}{{>events/bread-and-circuses}}{{/if}}
	{{#if active_ff}}{{>events/folk-fluence}}{{/if}}
	{{#if active_i}}{{>events/iridescence}}{{/if}}
	{{#if active_sa}}{{>events/strings-attached}}{{/if}}

</div>

{{>footer}}