<style>
	.v-header {
		height: 100vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: -52px;
		text-align: center;
	}

	.fullscreen-video-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.fullscreen-video-wrap video {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (max-aspect-ratio: 1920/1080) {
		.fullscreen-video-wrap video {
			height: 100%;
		}
	}

	@media screen and (min-aspect-ratio: 1920/1080) {
		.fullscreen-video-wrap video {
			width: 100%;
		}
	}

	.header-overlay {
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0.7;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content img {
		margin-bottom: 20px;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.header-content h3 {
		display: block;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.hero h1 {
		font-size: 4rem !important;
		color: white !important;
	}

	.hero img {
		height: 200px;
		width: auto;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	@media (max-width: 590px) {
		.hero img {
			height: auto;
			width: 80%;
		}
	}

	p.ui,
	h5.ui {
		font-size: 16px !important;
	}

	#faq h5 {
		margin-bottom: 0px !important;
	}

	#schedule .column {
		max-width: 700px;
	}
</style>

{{>navbar}}
<header class="hero v-header h-container">
	<div class="fullscreen-video-wrap">
		<video autoplay muted playsinline id="myVideo">
			<source src="/videos/hero-banner.mp4" type="video/mp4">
		</video>
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/logo-main-white.png" alt="kaafila_logo">
		<h1 class="ui header timeless">Integrated Arts Festival</h1>
		<br>
		{{!-- <a data-target="#schedule"><button class="ui huge button inverted">Get Started</button></a> --}}
		<a href="https://youtu.be/PVtQnwfVfSU" target="_blank"><button class="ui huge button inverted">Opening Ceremony</button></a>
	</div>
</header>

<div id="content" class="pastel k">

	{{!-- <div id="schedule">
		<div class="ui center aligned container">
			<h1 class="ui header">Schedule - Kaafila 2020</h1>

			<div class="ui grid center aligned top aligned">
				<div class="column">
					<div class="ui tabular top attached menu three item menu">
						<div class="item" data-tab="oct15">Thursday, 15 October</div>
						<div class="item" data-tab="oct16">Friday, 16 October</div>
						<div class="item active" data-tab="oct17">Saturday, 17 October</div>
					</div>
					<div class="ui bottom attached segment left aligned tab" data-tab="oct15">
						<table class="ui table ">
							<thead>
								<tr>
									<th class="four wide">Time</th>
									<th class="twelve wide">Events</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>9:00 AM - 9:30 AM</td>
									<td><a href="https://youtu.be/PVtQnwfVfSU" target="_blank">Opening Ceremony</a></td>
								</tr>
								<tr>
									<td>9:30 AM - 11:00 AM</td>
									<td><a href="/events/folk-fluence/kalbeliya-lec-dem">Kalbeliya Lec-Dem</a></td>
								</tr>
								<tr>
									<td>11:00 AM - 1:00 PM</td>
									<td><a href="/events/bread-and-circuses/the-sounds-of-stories">The Sounds of Stories</a></td>
								</tr>
								<tr>
									<td>1:00 PM - 2:00 PM</td>
									<td><a href="/events/folk-fluence/ff-career-conversations">Career Conversations - Dance</a></td>
								</tr>
								<tr>
									<td>2:00 PM - 3:00 PM</td>
									<td><a href="/events/iridescence/i-career-conversations">Career Conversations - Visual Arts</a></td>
								</tr>
								<tr>
									<td>3:00 PM - 4:00 PM</td>
									<td><a href="/events/bread-and-circuses/fade-in">Fade In: In Conversation with Kumud Mishra</a></td>
								</tr>
								<tr>
									<td>6:30 PM - 8:30 PM</td>
									<td><a href="/events/iridescence/tessellations">Tessellations</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="ui bottom attached segment left aligned tab" data-tab="oct16">
						<table class="ui table">
							<thead>
								<tr>
									<th class="four wide">Time</th>
									<th class="twelve wide">Events</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>9:00 AM - 11:00 AM</td>
									<td><a href="/events/strings-attached/khasi-music-lec-dem">Khasi Instruments and Music</a></td>
								</tr>
								<tr>
									<td>11:00 AM - 12:00 PM</td>
									<td><a href="/events/bread-and-circuses/the-sounds-of-stories">The Sounds of Stories</a></td>
								</tr>
								<tr>
									<td>12:00 PM - 2:00 PM</td>
									<td><a href="/events/folk-fluence/flesh-n-bones">FLESH N BONES</a></td>
								</tr>
								<tr>
									<td>12:00 PM - 1:00 PM</td>
									<td>Strings Attached - Interaction with Judges</td>
								</tr>
								<tr>
									<td>1:00 PM - 2:00 PM</td>
									<td><a href="/events/bread-and-circuses/collab-lab">Collab Lab Sharing</a></td>
								</tr>
								<tr>
									<td>2:00 PM - 3:00 PM</td>
									<td><a href="/events/strings-attached/sa-career-conversations">Career Conversations - Music</a></td>
								</tr>
								<tr>
									<td>3:00 PM - 4:00 PM</td>
									<td><a href="/#sw">Spoken Word</a> <br><br><a href="/events/iridescence/#exhibition">Let Freedom Ring: Student Exhibition Showcase</a></td>
								</tr>
								<tr>
									<td>4:00 PM - 6:00 PM</td>
									<td><a href="/events/bread-and-circuses/stories-through-the-lens">Stories through the Lens</a></td>
								</tr>
								<tr>
									<td>6:30 PM - 8:30 PM</td>
									<td><a href="/events/iridescence/tessellations">Tessellations</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="ui bottom attached segment left aligned tab active" data-tab="oct17">
						<table class="ui table">
							<thead>
								<tr>
									<th class="four wide">Time</th>
									<th class="twelve wide">Events</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>9:00 AM - 10:00 AM</td>
									<td><a href="/events/iridescence/bamboo-craft-lec-dem">Bamboo Craft Lecture Demonstration</a></td>
								</tr>
								<tr>
									<td>10:00 AM - 12:00 PM</td>
									<td><a href="/events/iridescence/art-as-a-catalyst-for-social-change">Panel Discussion: Can Art be a Catalyst for Social Change?</a></td>
								</tr>
								<tr>
									<td>12:00 PM - 2:00 PM</td>
									<td><a href="/events/folk-fluence/flesh-n-bones">FLESH N BONES</a></td>
								</tr>
								<tr>
									<td>1:00 PM - 2:00 PM</td>
									<td>Bread & Circuses - Interaction with Judges</td>
								</tr>
								<tr>
									<td>2:00 PM - 3:00 PM</td>
									<td><a href="/events/strings-attached/the-manta-sidhu-show">The Manta Sidhu Show</a></td>
								</tr>
								<tr>
									<td>4:00 PM - 5:30 PM</td>
									<td><a href="/events/bread-and-circuses/stories-through-the-lens">Stories through the Lens</a></td>
								</tr>
								<tr>
									<td>6:30 PM - 7:00 PM</td>
									<td><a href="https://youtu.be/tOwrm0d6Ei4">Closing Ceremony - Results</a></td>
								</tr>
								<tr>
									<td>6:30 PM - 8:30 PM</td>
									<td><a href="/events/iridescence/tessellations">Tessellations</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div> --}}

	<div id="sb">
		<div class="ui center aligned container">
			<h1 class="ui header">Space/Band</h1>
			<div class="ui grid three columns stackable middle center aligned">
				{{#each sbSongs}}
				<div class="column">
					<h2 class="ui header" style="margin-top:10px;">{{this.name}}</h2>
					<div class="ui embed" data-url="{{this.link}}"></div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>

	<div id="sff">
		<div class="ui center aligned container">
			<h1 class="ui header">Songs for Freedom</h1>
			<p class="ui">We released 2-3 songs for Freedom every day during the Festival. Enjoy watching!</p>
			<br>
			<div class="ui grid middle aligned center aligned four columns stackable">
				{{#each sffSongs}}
				<div class="column {{moreSection @index 'sff' 4}}">
					<div class="ui embed" data-url="{{this}}" data-placeholder="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/banners/sff-landscape-banner.jpg"></div>
				</div>
				{{/each}}
				{{{moreButton sffSongs 'sff' 4}}}
			</div>
		</div>
	</div>

	<div id="doc-films">
		<div class="ui center aligned container">
			<h1 class="ui header">Documentary Films</h1>
			<br>
			<div class="ui grid middle aligned center aligned three columns stackable">
				{{#each docFilms}}
				<div class="column {{moreSection @index 'doc-films' 3}}">
					<div class="ui embed" data-source="false" data-url="{{this}}"></div>
				</div>
				{{/each}}
				{{{moreButton docFilms 'doc-films' 3}}}
			</div>
		</div>
	</div>

	<div id="sw">
		<div class="ui center aligned container">
			<img class="ui image rounded big centered" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/banners/spoken-word-banner.png">
			<br>
			<a href="https://youtu.be/vgB6zMCJCdk"><div class="ui button primary big">Watch Here</div></a>
		</div>
	</div>

	{{!-- <div id="tkr">
		<div class="ui center aligned container">
			<div class="ui grid fluid top aligned center aligned stackable">
				<div class="column five wide">
					<img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/banners/tkr-banner.png?w=400" class="ui image fluid centered">
				</div>
				<div class="column left aligned nine wide">
					<h1 class="ui header">Tilapur Ka Rakshas</h1>
					<p class="ui">Tilapur is a town on a hill. A perfectly ordinary town, ruled over by an extremely popular King. A town which people leave in droves in fear of a monster that terrifies it. A town at war, where people are banned from reading books of their choice. In this town lives Guddu, separated from his family after the monster's attack. In this town lives Chhotu, who reads books in secret, and asks dangerous questions. When Tilapur's warriors return from a war they no longer understand, they join hands with Chhotu and Guddu to take on the monster.</p>
					<div class="responsive-ratio dynamic fit-content">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/M7yGv1Vi0To" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>
					<p class="ui">Inspired by Hirak Rajar Deshe, Satyajit Ray's immortal children's classic from the Goopy Bagha series, Tilapur ka Rakshas is a play that can be watched by everyone aged 6 years and above.</p>
				</div>
			</div>
		</div>
	</div> --}}

</div>

{{!-- <div id="infomodal" class="ui modal small">
	<div class="ui icon header">
		<i class="info icon circle"></i>
	</div>
	<div class="content">
		<h3>Voting will close at 4:00 PM.</h3>
		<h3>Results will be declared at 6:30 PM.</h3>
		<h3>Registration for some events are still open. Write to us at <a href="mailto:registrations@snsartsfestival.in">registrations@snsartsfestival.in</a> for enquiries.</h3>
	</div>
</div> --}}

{{>footer}}