{{>navbar}}
<style>
	.v-header {
		height: 40vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: 0;
		text-align: center;
	}

	.photo-wrap {
		position: absolute;
		top: 52px;
		left: 0;
		width: 100%;
		height: 40vh;
		overflow: hidden;
		background: #085078;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078);
		background: linear-gradient(to left, #6eb4ac, #085078);
	}

	.photo-wrap img {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (min-aspect-ratio: 96/90) {
		.photo-wrap img {
			width: 100%;
		}
	}

	@media screen and (max-aspect-ratio: 96/90) {
		.photo-wrap img {
			height: 100%;
		}
	}

	.header-overlay {
		height: 40vh;
		position: absolute;
		top: 52px;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0.4;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content img {
		margin-bottom: 20px;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.header-content h3 {
		display: block;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.hero h1 {
		font-size: 6rem !important;
		color: white !important;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	.ui.borderless.menu {
		background: #085078 !important;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078) !important;
		background: linear-gradient(to left, #6eb4ac, #085078) !important;
	}

	th {
		background-color: #ffffff5b !important;
	}

	table, .ui.accordion {
		background-color: transparent !important;
		border: 0px!important;
	}
</style>


<header class="hero v-header h-container">
	<div class="photo-wrap">
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<h1 class="ui header">Your Profile</h1>
	</div>
</header>

{{!-- <h1 class="ui header">This: {{userData}}</h1> --}}
<div id="content" class="pastel k">
	<div id="registeredevents">
		<div class="ui container">
			<p class="ui left aligned">{{userData.registeredEventsJS}}</p>
			<h1 class="ui header">Registered Events</h1>
			{{#if userData.registeredEvents}}
			{{#with userData.registeredEvents}}
			{{#if monologue-maestros}}
			{{#with monologue-maestros}}
			<h2>{{name}}</h2>
			<table class="ui table">
				<thead>
					<tr>
						<th>Name of Student</th>
						<th>Class</th>
						<th colspan="2">Submission</th>
					</tr>
				</thead>
				<tbody>
					{{#each this.students}}
					<tr>
						<td class="six wide">{{this.name}}</td>
						<td class="two wide">Class {{this.class}}</td>
						<td class="seven wide">{{this.submission}}</td>
						<td><button onclick="editSubmission(this)" data-subevent="{{../this.name}}" data-student="{{this.name}}" data-url="{{@../key}}" class="ui button small basic icon"><i class="edit icon"></i></button></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{/with}}
			{{/if}}
			{{/with}}
			{{else}}
			<h3 class="ui header">No events registered for yet</h3>
			{{/if}}
		</div>
	</div>
	<div id="account-details">
		<div class="ui container">
			<h1 class="ui header">Account Details</h1>
			<table class="ui table">
				<tbody>
					<tr>
						<td class="six wide">School Name</td>
						<td class="ten wide">{{userData.schoolName}}</td>
					</tr>
					<tr>
						<td class="six wide">School Representative's Name</td>
						<td class="ten wide">{{userData.schoolRepName}}</td>
					</tr>
					<tr>
						<td class="six wide">Email Address</td>
						<td class="ten wide">{{userData.email}}</td>
					</tr>
				</tbody>
			</table>
			<div class="ui fluid container right aligned">
				<button id="editdetailsmodalbutton" class="ui button primary">Edit Details</button>
				<a href="/signout"><button id="signout" class="ui button primary">Sign out</button></a>
			</div>
		</div>
	</div>
</div>

<div id="editsubmissionmodal" class="ui modal small">
	<div class="header">
		<h2>Edit Submission</h2>
		<h3 id="modaldesc">Aditya Kulshrestha - Monologue Maestros</h3>
	</div>
	<div class="content">
		<form id="editsubmissionform" class="ui small form">
			<div class="ui stacked">
				<h5>Upload your file on an online cloud platform (Google Drive, YouTube, Dropbox, etc.) and paste the public access link here.</h5>
				<div class="field">
          <label>Link to File</label>
          <div class="ui input">
            <input type="text" id="link" placeholder="Link to File">
          </div>
        </div>
				<div class="ui fluid container column right aligned">
					<button type="submit" id="editsubmission" class="ui primary button">Submit</button>
				</div>
      </div>

			<div class="ui error message"></div>
		</form>
	</div>
</div>

<div id="editdetailsmodal" class="ui modal small">
	<div class="header">
		<h2>Edit Details</h2>
	</div>
	<div class="content">
		<form id="editdetailsform" class="ui small form">
			<div class="ui stacked">
				<div class="field">
          <label>School Name</label>
          <div class="ui input">
            <input type="text" id="schoolName" placeholder="School Name">
          </div>
        </div>
        <div class="field">
          <label>School Representative Name</label>
          <div class="ui input">
            <input type="text" id="schoolRepName" placeholder="School Representative Name">
          </div>
        </div>
				<div class="ui fluid container column right aligned">
					<button type="submit" id="editdetails" class="ui primary button">Submit</button>
				</div>
      </div>

			<div class="ui error message"></div>
		</form>
	</div>
</div>

{{>footer}}