{{>navbar-cart}}

<style>
	.hero h1 {
		font-size: 7.5em !important;
	}
	@media (max-width: 768px) {
		.hero h1 {
			font-size: 6em !important;
		}
	}
	@media (max-width: 590px) {
		.hero h1 {
			font-size: 4em !important;
		}
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	.v-header {
		height: 40vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: 0;
		text-align: center;
	}

	.photo-wrap {
		position: absolute;
		top: 52px;
		left: 0;
		width: 100%;
		height: 40vh;
		overflow: hidden;
		background: #085078;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078);
		background: linear-gradient(to left, #6eb4ac, #085078);
	}

	.photo-wrap img {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (mi-aspect-ratio: 96/90) {
		.photo-wrap img {
			width: 100%;
		}
	}

	@media screen and (max-aspect-ratio: 96/90) {
		.photo-wrap img {
			height: 100%;
		}
	}

	.header-overlay {
		height: 40vh;
		position: absolute;
		top: 52px;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0.4;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content img {
		margin-bottom: 20px;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.header-content h3 {
		display: block;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.hero h1 {
		color: white !important;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	.ui.borderless.menu {
		background: #085078!important;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078)!important;
		background: linear-gradient(to left, #6eb4ac, #085078)!important;
	}

	#content h1 {
		margin-top: 10px;
		margin-bottom: 40px;
	}

</style>

<header class="hero v-header h-container">
	<div class="photo-wrap">
	</div>
	<div class="header-overlay"></div>
	<div class="header-content text-md-center">
		<h1 class="ui inverted header">SNSN Arts Haat</h1>
	</div>
</header>

<div id="content"  class="pastel k">
	{{#each artist}}
	<div> {{!-- For pastel colours to work --}}
		<div class="ui center aligned container">
			<img src="{{this.picture}}?w=256&h=256" class="ui circular image centered small">
			<h1 class="ui header">{{this.name}}</h1>
			<div class="ui fluid grid stackable center aligned three columns">
				{{#each this.products}}
				<div class="column">
					<div class="ui card fluid">
						<div class="image">
							<a href="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/snsnartshaat/{{this.itemImg}}" data-fancybox="{{../this.name}}-gallery" data-caption="{{../this.name}}{{#if this.itemName}} - {{this.itemName}}{{/if}}" class="artist-fancybox">
								<img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/snsnartshaat/{{this.itemImg}}?w=400&h=400" class="ui fluid image centered">
							</a>
						</div>
						<div class="content">
							{{#if this.itemName}}
							<h3 class="ui left aligned header">{{this.itemName}}</h3><br>
							{{/if}}
							<div class="ui grid fluid two columns middle aligned">
								<div class="column left aligned">
									<h3 id='itemPrice'>₹ {{this.itemPrice}}</h3>
								</div>
								<div class="column right aligned">
									{{#if this.sold}}
									<div class="ui red disabled button small">Sold</div>
									{{else}}
									<div class="ui primary button small cartbutton" data-id="{{this.id}}" data-artist="{{../this.name}}" data-name="{{this.itemName}}" data-img="{{this.itemImg}}" data-price="{{this.itemPrice}}">Add to Cart</div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>

<div class="ui modal small" id="cart-modal">
  <div class="header">Cart</div>
  <div class="scrolling content">
		<table class="ui table">
			<thead>
				<th class="three wide">Item</th>
				<th class="ten wide">Item Name</th>
				<th class="three wide">Price</th>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="2"><strong>Total</strong></th>
					<th>NA</th>
				</tr>
			</tfoot>
		</table>
  </div>
  <div class="actions">
    <div class="ui button primary" id="cart-confirm">Confirm</div>
  </div>
</div>

<div class="ui modal small" id="person-modal">
  <div class="header">Enter Your Info</div>
  <div class="content">
		<form id="confirminfoform" class="ui small form">
			<div class="ui stacked">
				<div class="field">
          <label>Full Name</label>
          <div class="ui input">
            <input type="text" id="name" placeholder="Full Name">
          </div>
        </div>
				<div class="field">
          <label>Email</label>
          <div class="ui input">
            <input type="text" id="email" placeholder="Email">
          </div>
        </div>
				<div class="field">
          <label>Phone</label>
          <div class="ui input">
            <input type="text" id="phone" placeholder="Phone">
          </div>
        </div>
				<div class="ui fluid container column right aligned">
					<button type="submit" id="confirminfo" class="ui primary button">Submit</button>
				</div>
      </div>

			<div class="ui error message"></div>
		</form>
  </div>
</div>

<div id="cart-confirm-modal" class="ui modal tiny">
	<div class="content">
		<div class="ui fluid container center aligned">
			<img class="ui centered image tiny" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/tick.png">
			<h2>Order Confirmed</h2>
			<h4 style="margin-top: 0!important;">You shall receive an email shortly</h4>
		</div>
	</div>
</div>

{{>footer}}