<style>
	.v-header {
		height: 60vh;
		display: flex;
		align-items: center;
	}

	.h-container {
		max-width: 960px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: auto;
		margin-top: -52px;
		text-align: center;
	}

	.photo-wrap {
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 60vh;
		overflow: hidden;
	}

	.photo-wrap img {
		width: auto;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	@media screen and (max-aspect-ratio: 6/10) {
		.photo-wrap img {
			height: 100%;
		}
	}

	@media screen and (min-aspect-ratio: 6/10) {
		.photo-wrap img {
			width: 100%;
		}
	}

	.header-overlay {
		height: 60vh;
		position: absolute;
		top: 0px;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: black;
		opacity: 0.2;
	}

	.header-content {
		z-index: 2;
		width: 100%;
	}

	.header-content h1,
	.header-content h4 {
		margin-bottom: 0;
	}

	.hero h1,
	.hero h4 {
		color: white !important;
	}

	.hero h1 {
		font-size: 4em !important;
	}

	@media (max-width: 960px) {
		.h-container {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	p.ui,
	h5.ui {
		font-size: 16px !important;
	}

	#faq h5,
	#about h2,
	#about h3,
	#about h4 {
		margin-bottom: 0px !important;
	}

	/* @media (max-width: 576px) {
		.v-header, .photo-wrap, .header-overlay {
			height: 70vh;
		}
		.photo-wrap img {
			height: 100%!important;
		}
	}*/

	.ui.borderless.menu {
		background: #085078;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078);
		background: linear-gradient(to left, #6eb4ac, #085078);
	}

	.computer .ui.borderless.menu .active.item {
		border-top: 3px solid white !important;
		background-color: transparent !important;
	}

	.mobile .ui.borderless.menu .active.item {
		background-color: rgba(0, 0, 0, .2) !important;
	}

	#event-bnc {
		background: rgb(201, 120, 76);
		background: linear-gradient(45deg, rgba(201, 120, 76, 1) 37%, rgba(217, 217, 217, 1) 100%);
	}

	#event-ff {
		background: rgb(145, 63, 63);
		background: linear-gradient(45deg, rgba(145, 63, 63, 1) 0%, rgba(156, 185, 53, 1) 100%);
	}

	#event-i {
		background: rgb(183, 145, 182);
		background: linear-gradient(45deg, rgba(183, 145, 182, 1) 41%, rgba(91, 208, 186, 1) 100%);
	}

	#event-sa {
		background: #FDC830;
		background: linear-gradient(45deg, rgb(243, 115, 53), rgb(253, 200, 48));
	}

	#title h1 {
		font-size: 4rem;
	}

	.printRules #title h1 {
		font-size: 3rem;
	}

	.printRules {
		display: none;
	}
</style>

{{>navbar}}

<div class="printRules">
	<div id="title">
		<div class="ui container">
			<h1 style="text-align: center" class="ui center aligned">{{subeventName}}</h1>
		</div>
	</div>
	<div id="about">
		<div class="ui container">
			{{#if bnc_mm}}{{>subevents/bnc-mm}}{{/if}}
			{{#if bnc_oap}}{{>subevents/bnc-oap}}{{/if}}
			{{#if bnc_cl}}{{>subevents/bnc-cl}}{{/if}}
			{{#if bnc_fi}}{{>subevents/bnc-fi}}{{/if}}
			{{#if bnc_sttl}}{{>subevents/bnc-sttl}}{{/if}}
			{{#if bnc_tsos}}{{>subevents/bnc-tsos}}{{/if}}

			{{#if ff_cc}}{{>subevents/ff-cc}}{{/if}}
			{{#if ff_ffs}}{{>subevents/ff-ffs}}{{/if}}
			{{#if ff_fnb}}{{>subevents/ff-fnb}}{{/if}}
			{{#if ff_kld}}{{>subevents/ff-kld}}{{/if}}
			{{#if ff_wdwd}}{{>subevents/ff-wdwd}}{{/if}}

			{{#if i_sof}}{{>subevents/i-sof}}{{/if}}
			{{#if i_bcw}}{{>subevents/i-bcw}}{{/if}}
			{{#if i_cc}}{{>subevents/i-cc}}{{/if}}
			{{#if i_t}}{{>subevents/i-t}}{{/if}}

			{{#if sa_sas}}{{>subevents/sa-sas}}{{/if}}
			{{#if sa_sff}}{{>subevents/sa-sff}}{{/if}}
			{{#if sa_cc}}{{>subevents/sa-cc}}{{/if}}
			{{#if sa_kmw}}{{>subevents/sa-kmw}}{{/if}}
			{{#if sa_s}}{{>subevents/sa-s}}{{/if}}
			{{#if sa_tmss}}{{>subevents/sa-tmss}}{{/if}}
		</div>
	</div>
</div>

<div id="content" class="pastel {{cssID}}">

	<div id="title">
		<div class="ui grid computer tablet only container middle aligned center aligned two columns">
			<div class="column">
				<img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/banners/{{subeventImage}}?width=449"
					class="ui medium image centered">
			</div>
			<div class="column left aligned">
				<h1 class="ui header">{{subeventName}}</h1>
				<div class="ui button primary">Registrations Opening Soon!</div>
			</div>
		</div>
		<div class="ui grid mobile only container middle aligned center aligned one columns">
			<div class="column">
				<img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/banners/{{subeventImage}}?width=449"
					class="ui fluid image">
			</div>
			<div class="column left aligned">
				<h1 class="ui header">{{subeventName}}</h1>
				<div class="ui button primary">Registrations Opening Soon!</div>
			</div>
		</div>
	</div>

	<div id="about">
		<div class="ui container">
			{{#if bnc_mm}}{{>subevents/bnc-mm}}{{/if}}
			{{#if bnc_oap}}{{>subevents/bnc-oap}}{{/if}}
			{{#if bnc_cl}}{{>subevents/bnc-cl}}{{/if}}
			{{#if bnc_fi}}{{>subevents/bnc-fi}}{{/if}}
			{{#if bnc_sttl}}{{>subevents/bnc-sttl}}{{/if}}
			{{#if bnc_tsos}}{{>subevents/bnc-tsos}}{{/if}}

			{{#if ff_cc}}{{>subevents/ff-cc}}{{/if}}
			{{#if ff_ffs}}{{>subevents/ff-ffs}}{{/if}}
			{{#if ff_fnb}}{{>subevents/ff-fnb}}{{/if}}
			{{#if ff_kld}}{{>subevents/ff-kld}}{{/if}}
			{{#if ff_wdwd}}{{>subevents/ff-wdwd}}{{/if}}

			{{#if i_sof}}{{>subevents/i-sof}}{{/if}}
			{{#if i_bcw}}{{>subevents/i-bcw}}{{/if}}
			{{#if i_cc}}{{>subevents/i-cc}}{{/if}}
			{{#if i_t}}{{>subevents/i-t}}{{/if}}

			{{#if sa_sas}}{{>subevents/sa-sas}}{{/if}}
			{{#if sa_sff}}{{>subevents/sa-sff}}{{/if}}
			{{#if sa_cc}}{{>subevents/sa-cc}}{{/if}}
			{{#if sa_kmw}}{{>subevents/sa-kmw}}{{/if}}
			{{#if sa_s}}{{>subevents/sa-s}}{{/if}}
			{{#if sa_tmss}}{{>subevents/sa-tmss}}{{/if}}
		</div>
	</div>

</div>

{{>footer}}

<style>
	@media print {
		#content, #navbar, #footer, #printRulesButton {
			display: none!important;
		}

		.printRules {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
</style>