<style>
	p.ui,
	h5.ui {
		font-size: 16px !important;
	}

	#title h3 {
		margin-top: 0;
		margin-bottom: 2em;
	}

	#faq h5,
	#about h2,
	#about h3,
	#about h4 {
		margin-bottom: 0px !important;
	}

	#video h5 {
		margin-top: 120px;
		margin-bottom: 120px;
	}

	.ui.borderless.menu {
		background: #085078;
		background: -webkit-linear-gradient(to left, #85D8CE, #085078);
		background: linear-gradient(to left, #6eb4ac, #085078);
	}

	.computer .ui.borderless.menu .active.item {
		border-top: 3px solid white !important;
		background-color: transparent !important;
	}

	.mobile .ui.borderless.menu .active.item {
		background-color: rgba(0, 0, 0, .2) !important;
	}

	#title h1 {
		font-size: 4rem;
	}

	.printRules #title h1 {
		font-size: 3rem;
	}

	.printRules {
		display: none;
	}

	form div.right.aligned, #registerevent {
		margin-right: 0!important;
	}

	form #members .two.fields, 
	#memberAdd, 
	#studentAdd {
		margin-bottom: 0.35em!important;
		margin-top: 1.35em!important;
	}

	@media only screen and (max-width: 767px) {
		form #members .two.fields .wide.field,
		form #students .two.fields .wide.field {
			margin-bottom: 0.35em!important;
		}
		form #members .two.fields .wide.field:last-child,
		form #students .two.fields .wide.field:last-child {
			margin-bottom: 0em!important;
		}
	}
</style>

{{>navbar}}

<div class="printRules">
	<div id="title">
		<div class="ui container">
			<h1 style="text-align: center" class="ui center aligned">{{subeventName}}</h1>
		</div>
	</div>
	<div id="about">
		<div class="ui container">
			{{> (lookup . 'pageID')}}
		</div>
	</div>
</div>

<div id="content" class="pastel {{cssID}}">

	<div id="title">
		<div class="ui grid computer tablet only container middle aligned center aligned two columns">
			<div class="column">
				<img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/banners/{{subeventImage}}?w=410" class="ui medium image centered">
			</div>
			<div class="column left aligned">
				<h1 class="ui header">{{subeventName}}</h1>
				<h3 class="ui header">{{subeventDesc}}</h3>
				{{!-- {{regOut}} --}}
				{{#if registration}}
					{{#if registration.alreadyRegistered}}
					<a href="/profile"><div class="ui button green">Already Registered</div></a>
					{{else if registration.closed}}
					{{!-- <div class="ui button red">Registerations Closed</div> --}}
					{{else if registration.seatsFull}}
					{{!-- <div class="ui button red">Seats Full</div> --}}
					{{else if userData}}
					<div class="ui button primary registereventmodalbutton" data-name="{{subeventName}}" data-subevent="{{url}}" {{#each registration}}data-{{@key}}="{{this}}"{{/each}}>Register</div>
					{{else}}
					<a href="/signin">
						<div class="ui button primary">Register</div>
					</a>
					{{/if}}
				{{/if}}
				{{!-- {{#if joinLink}}
				<br>
				<br>
				<a href="{{joinLink}}" target="_blank">
					<div class="ui button green big">{{#if joinText}}{{joinText}}{{else}}Join Here{{/if}}</div>
				</a>
				{{/if}}
				{{#if watchLink}}
				<br>
				<br>
				<a href="{{watchLink}}" target="_blank">
					<div class="ui button primary big">{{#if watchText}}{{watchText}}{{else}}Watch Here{{/if}}</div>
				</a>
				{{/if}} --}}
				{{#if khasi}}
				<a href="https://us02web.zoom.us/j/84166940520?pwd=Nm5yV2ZaaGh0TlU1Tko3cmFOME1IZz09"><div class="ui button green big">Join Here</div></a>
				<a href="https://youtu.be/di30AOmtFDM"><div class="ui button primary big">Watch Here</div></a>
				{{/if}}
			</div>
		</div>
		
		<div class="ui grid mobile only container middle aligned center aligned one columns">
			<div class="column">
				<img src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/banners/{{subeventImage}}?w=410"
					class="ui fluid image">
			</div>
			<div class="column left aligned">
				<h1 class="ui header">{{subeventName}}</h1>
				<h3 class="ui header">{{subeventDesc}}</h3>
				{{#if registration}}
					{{#if registration.alreadyRegistered}}
					<a href="/profile"><div class="ui button green">Already Registered</div></a>
					{{else if registration.closed}}
					{{!-- <div class="ui button red">Registerations Closed</div> --}}
					{{else if registration.seatsFull}}
					{{!-- <div class="ui button red">Seats Full</div> --}}
					{{else if userData}}
					<div class="ui button primary registereventmodalbutton" data-name="{{subeventName}}"data-subevent="{{url}}" {{#each registration}}data-{{@key}}="{{this}}"{{/each}}>Register</div>
					{{else}}
					<a href="/signin">
						<div class="ui button primary">Register</div>
					</a>
					{{/if}}
				{{/if}}
				{{#if watchLink}}
				<br>
				<br>
				<a href="{{watchLink}}" target="_blank">
					<div class="ui button primary big">{{#if watchText}}{{watchText}}{{else}}Watch Here{{/if}}</div>
				</a>
				{{/if}}
			</div>
		</div>
	</div>

	{{> (lookup . 'pageID')}}

</div>

{{#if userData}}
{{#unless registration.alreadyRegistered}}
{{#unless registration.seatsFull}}
{{#unless registration.closed}}
<div id="registereventmodal" class="ui modal">
	<div class="header">
		<h2>Register for {{subeventName}}</h2>
	</div>
	<div class="scrolling content">
		{{#if registration.formID}}
		{{> (lookup . 'formID')}}
		{{else}}
		{{>subevents/forms/stnd}}
		{{/if}}
	</div>
</div>

<div id="registereventconfirmmodal" class="ui modal tiny">
	<div class="content">
		<div class="ui fluid container center aligned">
			<img class="ui centered image tiny" src="https://atkhrfnsco.cloudimg.io/v7/dev.snsartsfestival.in/img/tick.png">
			<h2>Registered successfully for {{subeventName}}</h2>
		</div>
	</div>
</div>
{{/unless}}
{{/unless}}
{{/unless}}
{{/if}}

{{>footer}}

<style>
	@media print {

		#content,
		#navbar,
		#footer,
		#printRulesButton,
		.ui.modal {
			display: none !important;
		}

		.printRules {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
</style>